/**
 * File:    hanging-punctuation.css
 * Author:  Jake Zimmerman (@jez)
 * License: Blue Oak Model License v1.0.0 (BlueOak-1.0.0)
 *          <https://blueoakcouncil.org/license/1.0.0>
 */

:root {
  /**
   * These widths will vary with font-family, font-weight, etc.
   * TODO: Customize these values as needed
   */
  --single-quote-width: 0.33em;
  --double-quote-width: 0.44em;
}

.pull-single {
  margin-left: calc(-1 * var(--single-quote-width));
}
.push-single {
  margin-right: var(--single-quote-width)
}
.pull-double {
  margin-left: calc(-1 * var(--double-quote-width));
}
.push-double {
  margin-right: var(--double-quote-width)
}

/**
 * Turn off hanging punctuation in list items and table cells, because there is
 * usually not enough margin between the list bullet or list number and the
 * start of the text for the punctuation to have somewhere to hang.
 *
 * This is not great because this applies recursively, including somewhere like a
 * nested block quote, which might reintroduce enough margin to make room.
 *
 * I don't know of a way to target this specifically "directly under one of
 * these things, ignoring things like inline formatting elements" in CSS, and
 * I'm too lazy to attempt to handle it in the lua filter.
 */
li .pull-single,
li .pull-double,
td .pull-single,
td .pull-double {
  margin-left: initial;
}
li .push-single,
li .push-double,
td .push-single,
td .push-double {
  margin-right: initial;
}
